### Required Imports for Web Scraping And Converting To DataFrame

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import bs4
from bs4 import BeautifulSoup
import requests

### Load the content using reuqests module convert it to html readable

In [2]:
page = requests.get("https://www.imdb.com/search/title/?sort=num_votes,desc&start=1&title_type=feature&year=1950,2012")
contents = page.content

### Create a Static Html file of the same to use later and store it

In [3]:
print(type(contents))
with open('IMDB_Movies_HTML_Page.html','ab') as fb:
    fb.write(contents)

<class 'bytes'>

### Parse content using BeautifulSoup4's html.parse

In [4]:
soup = BeautifulSoup(contents,"html.parser")

### Clean the data by removing unneccessary html tags and create dictionary to store data

In [ ]:
### Data_Clean_Soup=soup.find_all("div","lister-item mode-advanced")
Dict_Of_IMDB_Data = { 'Movie_Name' : [0,],'Duration_Minute':[0,],'Genre':[0,],'Rating':[0,],"Text":[0,],'Directores':[0,],'Stars_Heroes':[0,],'User_Votes':[0,],'Gross_In_Million':[0,]}
Dict_Of_IMDB_Data

### Use find_all or find to get required data from the parser

In [6]:
#Data_Clean_Soup[0].find_all('a')[1].string                                  Movie Name
#Data_Clean_Soup[0].find_all('a')[13].string                                 Director
#Data_Clean_Soup[0].find_all('a')[14:]                                       all the heroes who worked in movie
#Data_Clean_Soup[0].find("span","runtime").string[:-4]                       duration
#Data_Clean_Soup[0].find("span","genre").string.strip('\n ')                 genre
#Data_Clean_Soup[0].find("span","value").string                              Rating
#Data_Clean_Soup[0].find_all('p')[1].string.strip('\n ')                     Text
#Data_Clean_Soup[0].find_all('span')[-4].string                              Vote
#Data_Clean_Soup[0].find_all('span')[-1].string[:-1]                         gross
#{ 'Movie_Name' : [],'Duration_Minute':[],'genre':[],'rating':[],"Text":[],'Directores':[],'Stars_Heroes':[],'User_Votes':[],'Gross_In_Million':[]}

### Convert Data to the List to Save in Dictionary

In [7]:
Movie=[]
Genre=[]
Rating=[]
Text=[]
Directores=[]
User_Vote=[]
Gross=[]
Duration=[]
Stars=[]
get=[]
try:
    for i in range(len(Data_Clean_Soup)):
        get=i
        Movie.append(Data_Clean_Soup[i].find_all('a')[1].string)
        Genre.append(Data_Clean_Soup[i].find("span","genre").string.strip())
        Duration.append(Data_Clean_Soup[i].find("span","runtime").string[:-4])
        Rating.append(Data_Clean_Soup[i].find("span","value").string)
        Text.append(Data_Clean_Soup[i].find_all('p')[1].find(text=True).strip())
        Directores.append(Data_Clean_Soup[i].find_all('a')[13].string)
        User_Vote.append(Data_Clean_Soup[i].find_all('span')[-4].string)
        Gross.append(Data_Clean_Soup[i].find_all('span')[-1].string[:-1])
        list_actor =[]
        total_list = Data_Clean_Soup[i].find_all('a')[14:]
        for i in total_list:
            list_actor.append(i.string)
        Stars.append(','.join(list_actor))
except:
    print("Get Error on Line with Data index : ",get)

### Add data to the Dictionary

In [8]:
Dict_Of_IMDB_Data['Movie_Name']=Movie
Dict_Of_IMDB_Data['Genre'] = Genre
Dict_Of_IMDB_Data['Duration_Minute'] =Duration
Dict_Of_IMDB_Data['Rating'] = Rating
Dict_Of_IMDB_Data['Text'] = Text
Dict_Of_IMDB_Data['Directores'] = Directores
Dict_Of_IMDB_Data['User_Votes'] = User_Vote
Dict_Of_IMDB_Data['Gross_In_Million'] = Gross
Dict_Of_IMDB_Data['Stars_Heroes']= Stars

### Create DataFrame Using Pandas

In [9]:
IMDB_Movie_Data = pd.DataFrame(Dict_Of_IMDB_Data)
IMDB_Movie_Data

,Movie_Name,Duration_Minute,Genre,Rating,Text,Directores,Stars_Heroes,User_Votes,Gross_In_Million
0,The Shawshank Redemption,142,Drama,9.3,Two imprisoned men bond over a number of years...,Frank Darabont,"Tim Robbins,Morgan Freeman,Bob Gunton,William ...","2,244,893",$28.34
1,The Dark Knight,152,"Action, Crime, Drama",9,When the menace known as the Joker wreaks havo...,Christopher Nolan,"Christian Bale,Heath Ledger,Aaron Eckhart,Mich...","2,213,479",$534.86
2,Inception,148,"Action, Adventure, Sci-Fi",8.8,A thief who steals corporate secrets through t...,Christopher Nolan,"Leonardo DiCaprio,Joseph Gordon-Levitt,Ellen P...","1,967,796",$292.58
3,Fight Club,139,Drama,8.8,An insomniac office worker and a devil-may-car...,David Fincher,"Brad Pitt,Edward Norton,Meat Loaf,Zach Grenier","1,785,608",$37.03
4,Pulp Fiction,154,"Crime, Drama",8.9,"The lives of two mob hitmen, a boxer, a gangst...",Quentin Tarantino,"John Travolta,Uma Thurman,Samuel L. Jackson,Br...","1,758,151",$107.93
5,Forrest Gump,142,"Drama, Romance",8.8,"The presidencies of Kennedy and Johnson, the e...",Robert Zemeckis,"Tom Hanks,Robin Wright,Gary Sinise,Sally Field","1,731,046",$330.25
6,The Matrix,136,"Action, Sci-Fi",8.7,A computer hacker learns from mysterious rebel...,Lana Wachowski,"Lilly Wachowski,Keanu Reeves,Laurence Fishburn...","1,610,651",$171.48
7,The Lord of the Rings: The Fellowship of the Ring,178,"Action, Adventure, Drama",8.8,A meek Hobbit from the Shire and eight compani...,Peter Jackson,"Elijah Wood,Ian McKellen,Orlando Bloom,Sean Bean","1,599,880",$315.54
8,The Lord of the Rings: The Return of the King,201,"Adventure, Drama, Fantasy",8.9,Gandalf and Aragorn lead the World of Men agai...,Peter Jackson,"Elijah Wood,Viggo Mortensen,Ian McKellen,Orlan...","1,586,333",$377.85
9,The Godfather,175,"Crime, Drama",9.2,The aging patriarch of an organized crime dyna...,Francis Ford Coppola,"Marlon Brando,Al Pacino,James Caan,Diane Keaton","1,548,695",$134.97
10,The Dark Knight Rises,164,"Action, Adventure",8.4,Eight years after the Joker's reign of anarchy...,Christopher Nolan,"Christian Bale,Tom Hardy,Anne Hathaway,Gary Ol...","1,463,652",$448.14
11,The Lord of the Rings: The Two Towers,179,"Adventure, Drama, Fantasy",8.7,While Frodo and Sam edge closer to Mordor with...,Peter Jackson,"Elijah Wood,Ian McKellen,Viggo Mortensen,Orlan...","1,433,177",$342.55
12,Se7en,127,"Crime, Drama, Mystery",8.6,"Two detectives, a rookie and a veteran, hunt a...",David Fincher,"Morgan Freeman,Brad Pitt,Kevin Spacey,Andrew K...","1,381,800",$100.13
13,Django Unchained,165,"Drama, Western",8.4,"With the help of a German bounty hunter, a fre...",Quentin Tarantino,"Jamie Foxx,Christoph Waltz,Leonardo DiCaprio,K...","1,298,785",$162.81
14,Gladiator,155,"Action, Adventure, Drama",8.5,A former Roman General sets out to exact venge...,Ridley Scott,"Russell Crowe,Joaquin Phoenix,Connie Nielsen,O...","1,291,102",$187.71
15,Batman Begins,140,"Action, Adventure",8.2,"After training with his mentor, Batman begins ...",Christopher Nolan,"Christian Bale,Michael Caine,Ken Watanabe,Liam...","1,262,994",$206.85
16,The Avengers,143,"Action, Adventure, Sci-Fi",8,Earth's mightiest heroes must come together an...,Joss Whedon,"Robert Downey Jr.,Chris Evans,Scarlett Johanss...","1,232,323",$623.28
17,The Silence of the Lambs,118,"Crime, Drama, Thriller",8.6,A young F.B.I. cadet must receive the help of ...,Jonathan Demme,"Jodie Foster,Anthony Hopkins,Lawrence A. Bonne...","1,215,532",$130.74
18,Inglourious Basterds,153,"Adventure, Drama, War",8.3,"In Nazi-occupied France during World War II, a...",Quentin Tarantino,"Brad Pitt,Diane Kruger,Eli Roth,Mélanie Laurent","1,211,659",$120.54
19,Star Wars,121,"Action, Adventure, Fantasy",8.6,Luke Skywalker joins forces with a Jedi Knight...,George Lucas,"Mark Hamill,Harrison Ford,Carrie Fisher,Alec G...","1,192,196",$322.74
20,Saving Private Ryan,169,"Drama, War",8.6,"Following the Normandy Landings, a group of U....",Steven Spielberg,"Tom Hanks,Matt Damon,Tom Sizemore,Edward Burns","1,187,343",$216.54
21,Schindler's List,195,"Biography, Drama, History",8.9,"In German-occupied Poland during World War II,...",Oskar Schindler,"Steven Spielberg,Liam Neeson,Ralph Fiennes,Ben...","1,166,863",$96.90
22,The Departed,151,"Crime, Drama, Thriller",8.5,An undercover cop and a mole in the police att...,Martin Scorsese,"Leonardo DiCaprio,Matt Damon,Jack Nicholson,Ma...","1,144,356",$132.38
23,The Prestige,130,"Drama, Mystery, Sci-Fi",8.5,"After a tragic accident, two stage magicians e...",Christopher Nolan,"Christian Bale,Hugh Jackman,Scarlett Johansson...","1,137,253",$53.09
24,Star Wars: Episode V - The Empire Strikes Back,124,"Action, Adventure, Fantasy",8.7,After the Rebels are brutally overpowered by t...,Irvin Kershner,"Mark Hamill,Harrison Ford,Carrie Fisher,Billy ...","1,119,676",$290.48
25,The Green Mile,189,"Crime, Drama, Fantasy",8.6,The lives of guards on Death Row are affected ...,Frank Darabont,"Tom Hanks,Michael Clarke Duncan,David Morse,Bo...","1,094,554",$136.80
26,Avatar,162,"Action, Adventure, Fantasy",7.8,A paraplegic Marine dispatched to the moon Pan...,James Cameron,"Sam Worthington,Zoe Saldana,Sigourney Weaver,M...","1,092,654",$760.51
27,Memento,113,"Mystery, Thriller",8.4,A man with short-term memory loss attempts to ...,Christopher Nolan,"Guy Pearce,Carrie-Anne Moss,Joe Pantoliano,Mar...","1,084,904",$25.54
28,The Godfather: Part II,202,"Crime, Drama",9,The early life and career of Vito Corleone in ...,Francis Ford Coppola,"Al Pacino,Robert De Niro,Robert Duvall,Diane K...","1,082,627",$57.30
29,Shutter Island,138,"Mystery, Thriller",8.1,"In 1954, a U.S. Marshal investigates the disap...",Martin Scorsese,"Leonardo DiCaprio,Emily Mortimer,Mark Ruffalo,...","1,079,456",$128.01
30,American Beauty,122,Drama,8.3,A sexually frustrated suburban father has a mi...,Sam Mendes,"Kevin Spacey,Annette Bening,Thora Birch,Wes Be...","1,038,720",$130.10
31,Titanic,194,"Drama, Romance",7.8,A seventeen-year-old aristocrat falls in love ...,James Cameron,"Leonardo DiCaprio,Kate Winslet,Billy Zane,Kath...","1,011,743",$659.33
32,Back to the Future,116,"Adventure, Comedy, Sci-Fi",8.5,"Marty McFly, a 17-year-old high school student...",Robert Zemeckis,"Michael J. Fox,Christopher Lloyd,Lea Thompson,...","1,005,323",$210.61
33,American History X,119,Drama,8.5,A former neo-nazi skinhead tries to prevent hi...,Tony Kaye,"Edward Norton,Edward Furlong,Beverly D'Angelo,...","1,003,012",$6.72
34,V for Vendetta,132,"Action, Drama, Sci-Fi",8.2,"In a future British tyranny, a shadowy freedom...",James McTeigue,"Hugo Weaving,Natalie Portman,Rupert Graves,Ste...","997,400",$70.51
35,Pirates of the Caribbean: The Curse of the Bla...,143,"Action, Adventure, Fantasy",8,Blacksmith Will Turner teams up with eccentric...,Gore Verbinski,"Johnny Depp,Geoffrey Rush,Orlando Bloom,Keira ...","994,419",$305.41
36,Léon,110,"Action, Crime, Drama",8.5,"Mathilda, a 12-year-old girl, is reluctantly t...",Luc Besson,"Jean Reno,Gary Oldman,Natalie Portman,Danny Ai...","993,702",$19.50
37,Goodfellas,146,"Biography, Crime, Drama",8.7,The story of,Henry Hill,"Martin Scorsese,Robert De Niro,Ray Liotta,Joe ...","976,570",$46.84
38,Kill Bill: Vol. 1,111,"Action, Crime, Thriller",8.1,"After awakening from a four-year coma, a forme...",Quentin Tarantino,"Uma Thurman,David Carradine,Daryl Hannah,Micha...","965,343",$70.10
39,Terminator 2: Judgment Day,137,"Action, Sci-Fi",8.5,"A cyborg, identical to the one who failed to k...",James Cameron,"Arnold Schwarzenegger,Linda Hamilton,Edward Fu...","964,096",$204.84
40,WALL·E,98,"Animation, Adventure, Family",8.4,"In the distant future, a small waste-collectin...",Andrew Stanton,"Ben Burtt,Elissa Knight,Jeff Garlin,Fred Willard","963,143",$223.81
41,The Usual Suspects,106,"Crime, Mystery, Thriller",8.5,A sole survivor tells of the twisty events lea...,Bryan Singer,"Kevin Spacey,Gabriel Byrne,Chazz Palminteri,St...","957,047",$23.34
42,Braveheart,178,"Biography, Drama, History",8.3,When his secret bride is executed for assaulti...,Mel Gibson,"Mel Gibson,Sophie Marceau,Patrick McGoohan,Ang...","933,060",$75.60
43,Star Wars: Episode VI - Return of the Jedi,131,"Action, Adventure, Fantasy",8.3,After a daring mission to rescue Han Solo from...,Richard Marquand,"Mark Hamill,Harrison Ford,Carrie Fisher,Billy ...","918,129",$309.13
44,Finding Nemo,100,"Animation, Adventure, Comedy",8.1,After his son is captured in the Great Barrier...,Andrew Stanton,"Lee Unkrich,Albert Brooks,Ellen DeGeneres,Alex...","918,050",$380.84
45,Iron Man,126,"Action, Adventure, Sci-Fi",7.9,"After being held captive in an Afghan cave, bi...",Jon Favreau,"Robert Downey Jr.,Gwyneth Paltrow,Terrence How...","912,090",$318.41
46,The Lion King,88,"Animation, Adventure, Drama",8.5,A lion cub prince is tricked by a treacherous ...,Roger Allers,"Rob Minkoff,Matthew Broderick,Jeremy Irons,Jam...","905,116",$422.78
47,Up,96,"Animation, Adventure, Comedy",8.2,78-year-old Carl Fredricksen travels to Paradi...,Pete Docter,"Bob Peterson,Edward Asner,Jordan Nagai,John Ra...","900,381",$293.00
48,The Truman Show,103,"Comedy, Drama, Sci-Fi",8.1,An insurance salesman discovers his whole life...,Peter Weir,"Jim Carrey,Ed Harris,Laura Linney,Noah Emmerich","894,732",$125.62
49,Reservoir Dogs,99,"Crime, Drama, Thriller",8.3,When a simple jewelry heist goes horribly wron...,Quentin Tarantino,"Harvey Keitel,Tim Roth,Michael Madsen,Chris Penn","885,154",$2.83

### Now Save the DataFrame as a CSV file to use it later on Data Visualization
#### we have out csv file to perform the analysis. so, we can able to use it visualize and understand the data and their relations
##### Now we can able to use this data to create NLP Model or Machine learning for predictions

In [12]:
IMDB_Movie_Data.to_csv("IMDB_MOVIES.csv")